.inputBlock input {
  width: 100%;
  margin-top: 2vh;
  height: 3rem;
  border-radius: 0.8rem;
  background: white;
  border: none;
  color: #585858;
  padding: 0 1rem;
  font-family: Lato;
  font-weight: 700;
}

.error{
  color: red;
  text-align: center;
}

@media (min-width: 600px) {
  .inputBlock{
    display: flex;
    flex-direction: column;
  }
  .inputBlock input {
    width: 20vw;
  }
  .inputBlock + .inputBlock {
    margin-left: 1.4rem;
  }
}
