.inputBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh 0 2vh 0;
}

.inputBlock input {
  width: 70vw;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #000;
  outline: 0;
  padding: 0 1.6rem 0 0;
  font: 1rem Nunito;
}

.inputBlock:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 1.3rem;
}

.inputBlock input::placeholder {
  color: #7a7a7a;
}

@media (min-width: 600px) {
  .inputBlock {
    margin: 0;
  }

  .inputBlock input {
    width: 35vw;
  }
}
