.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #f2f2f2;
  margin-top: 5vh;
}

.container {
  padding: 3vh;
}

.container h1 {
  font-size: 3.5vh;
  font-weight: 700;
  font-family: Lato;
  letter-spacing: 0;
  line-height: 1.5;
}

.button {
  width: 100%;
  padding: 2vh 1vh;
  border-radius: 1vh;
  border: none;
  background-color: black;
  font-family: Lato;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.button:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .container h1 {
    font-size: 2.5vh;
    font-weight: 700;
    font-family: Lato;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
  }

  .newsletterForm {
    display: flex;
    margin: 0 auto;
  }

  .button {
    width: 40%;
    margin-top: 2.1vh;
    margin-left: 1vh;
    padding: 1.6vh 7vh;
  }
}
